<%- model_class = Authorization -%>
<div class="page-header">
  <h1>Autorización</h1>
</div>
<div class="row">
<div class="span6">
</div>
<div class="span10">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Usuarios</th>
        <th>Elementos1</th>
         <th>Cantidad1</th>
        <th>Elementos2</th>
         <th>Cantidad2</th>
        <th>Elementos3</th>
         <th>Cantidad3</th>
        <th>Elementos4</th>
        <th>Cantidad4</th>
        <th>Destino</th>
        <th>Usabilidad</th>
        <th>Fechas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render @authorizations %>
    </tbody>
    <tfoot>
      <tr>
       <td><%= link_to image_tag('nuevosugerencia.png'),   new_authorization_path,  :remote => true %></td>
      </tr>
    </tfoot>
  </table>
</div>